# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Python
__pycache__/
*.pyc
.venv/
venv/

# macOS
.DS_Store

# IDE
.idea/
.vscode/

# Logs
*.log